body{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    user-select: none;
}


*,html,body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
